<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скрипт делит файл на товары с количеством строк</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-theme">
    <h1>Скрипт делит файл на товары с количеством строк</h1>

    <button class="theme-toggle" onclick="toggleTheme()">🌙</button>

    <button class="spoiler-button" onclick="toggleSpoiler()">Инструкция</button>
    <div class="instruction" id="instruction">
        <h2>Инструкция по использованию:</h2>
        <p>Этот скрипт позволяет загружать CSV файл и обрабатывать его для разделения строк на товары. Пожалуйста, следуйте следующим шагам:</p>
        <ol>
            <li>Выберите файл CSV, который вы хотите загрузить.</li>
            <li>Введите данные о товарах в текстовое поле в формате: <strong>Название товара TAB Количество</strong>.</li>
            <li>Нажмите кнопку "Обработать файлы" для выполнения скрипта.</li>
        </ol>
        <p>Скрипт создаст отдельные файлы для каждого товара в зависимости от их количества.</p>
    </div>

    <form action="/" method="post" enctype="multipart/form-data">
        <h2>Загрузите файл CSV</h2>
        <input type="file" name="csv_file" accept=".csv" required><br>
        
        <h2>Введите данные о товарах и количество</h2>
        <textarea name="product_data" rows="10" placeholder="Введите данные в формате: Название товара TAB Количество. Например: Сапоги мужские р.39-47	1000"></textarea><br>
        
        <input type="submit" value="Обработать файлы">
    </form>

    <div class="footer">
        <p>&copy; {{ year }} BigShop. Все права защищены.</p>
    </div>

    <div class="output-messages">
        {% if output_messages %}
            {% for message in output_messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <script>
        function toggleTheme() {
            const body = document.body;
            body.classList.toggle('dark-theme');
            body.classList.toggle('light-theme');
        }

        function toggleSpoiler() {
            const spoiler = document.getElementById('instruction');
            if (spoiler.style.display === 'none' || spoiler.style.display === '') {
                spoiler.style.display = 'block'; // Показываем спойлер
                spoiler.style.maxHeight = spoiler.scrollHeight + 'px'; // Устанавливаем максимальную высоту
            } else {
                spoiler.style.maxHeight = '0'; // Убираем максимальную высоту
                setTimeout(() => {
                    spoiler.style.display = 'none'; // Скрываем после анимации
                }, 500); // Задержка равна времени анимации
            }
        }
    </script>
</body>
</html>
